:root {
  --ifm-color-primary: #4f7cff;
  --ifm-color-primary-dark: #3e6bff;
  --ifm-color-primary-darker: #2f5cff;
  --ifm-color-primary-darkest: #264ad6;
  --ifm-color-primary-light: #638dff;
  --ifm-color-primary-lighter: #799dff;
  --ifm-color-primary-lightest: #a8c1ff;
}

.hero__title {
  letter-spacing: 0.02em;
}
